<div *ngIf="cursos" class="row cursos">
    <h2 class="text-white">Lista de Cursos</h2>
    <div class="col">
        <ul>
            <li *ngFor="let curso of cursos">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Curso de {{curso.nombre}}</mat-card-title>
                        <mat-card-subtitle>Profesor: {{curso.profesor}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="imgCurso border border-warning">
                        <img [src]="curso.imagen" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-content>
                        <p class="mt-3 d-flex flex-column infoCursos">
                            <span>Estudiantes: {{curso.estudiantes.length}}</span>
                            <span>Inicia: {{curso.inicia | date}}</span>
                            <span>Finaliza: {{curso.finaliza | date}}</span>
                            <span>Inscripción: {{curso.inscripcion | booleanTexto: 'Inscripcion abierta': 'Inscripcion cerrada'}}</span>
                        </p>
                    </mat-card-content>
                    <mat-card-actions class="d-grid">
                        <button mat-button [ngClass]="{
                            insccripcionAbierta: curso.inscripcion == true,
                            insccripcionCerrada: curso.inscripcion == false
                        }"
                        (click)="inscribirme(curso.nombre)" [disabled]="!curso.inscripcion">
                        {{curso.inscripcion | booleanTexto: 'Inscripcion abierta': 'Inscripcion cerrada'}}</button>
                    </mat-card-actions>
                </mat-card>
            </li>
        </ul>
    </div>
</div>